

a:link {
  color:red;
}

a:visited {
  color:green;
}

a:active {
  color:black;
}
a:hover {
  color: blue;
  background-color: yellow;
  font-size: 60px;
}

img:hover {
  width: 600px;
  border-radius: 50%;
}

.foto {
  width: 60%;
  background-color: yellow;
}

img {
  width: 80vw;
}

p {
  font-family: 'Roboto', sans-serif;

}
